.nav-container{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.nav-navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10% 0% 10%;
  padding: 15px;
}
.nav-container-home{
  font-size: 25pt;
  cursor: pointer;
  font-weight: bolder;
}
.nav-container-menu{
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.nav-container-menu-item{
  font-size: 20pt;
  font-weight: lighter;
  color: var(--color-06);
}
.nav-container-menu-item:hover{
  color: var(--color-03);
}
.nav-mobile-menu{
  display: none;
}
.nav-mobile-menu-icon{
  display: none;
}
.nav-mobile-menu:disabled{
  -webkit-animation: scale-down-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-down-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media all and (max-width:1100px){
  .nav-navbar-container{
    margin: 0% 5% 0% 5%;
  }
}

@media all and (max-width:730px){
  .nav-container-menu{
    display: none;
  }
  .nav-mobile-menu-icon{
    display: block;
  }
  .nav-mobile-menu-icon button{
    color:#fff;
    background-color: var(--color-01);
    font-size: 2rem;
    padding: 5px;
    border: none;
  }
  .open{
    display: block;
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	  animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .nav-mobile-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }
}