@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root{
  --color-01:#000025;
  --color-02:#2d274c;
  --color-03:#ba68c8;
  --color-04:#ead1ee;
  --color-05:#DFD7EA;
  --color-06:#F2F7FF;
  --color-07:#FAFFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 1px;
}
body{
  background: var(--color-01);
}
.content-style1{
  background-color: var(--color-07);
}
.content-style2{
  background-color: var(--color-06);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-02); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-02); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-03); 
}
::-webkit-scrollbar-track-piece{
  background: var(--color-01);
}
.highlighted-text{
  color: var(--color-03);
  font-weight: bold;
}
.nav-container{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  backdrop-filter: blur(15px);
}
.nav-navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10% 0% 10%;
  padding: 15px;
  color: #fff;
}
.nav-container-home{
  font-size: 25pt;
  cursor: pointer;
  font-weight: bolder;
}
.nav-container-menu{
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.nav-container-menu-item{
  font-size: 20pt;
  font-weight: lighter;
}
.nav-mobile-menu-icon{
  display: none;
}
.nav-mobile-menu{
  display: none;
}
.home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 100vh;
}
.home-container-info{
  margin-left: 10%;
}
.home-info-itens{
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.home-image{
  margin-right: 10%;
  width: 40%;
}
.home-contact-btn{
  padding: 10px 25px 10px 25px;
  font-size: 15pt;
  color: var(--color-02);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--color-06);
  border: none;
  transition: all 400ms ease;
}
.home-contact-btn:hover{
  background-color: var(--color-04);
}
.home-contact-btn:active {
  border: 1px solid var(--color-03);
  background-color: var(--color-03);
  color: #22272b;
}
.section-container-title{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 50px 0px;
}
.section-title{
  font-size: 2.5rem;
  margin-bottom: 30px;
  display: block;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-02);
}
.section-title-division{
  padding: 5px 30px;
  background-color: var(--color-03);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.section-subtitle{
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: var(--color-02);
  font-weight: lighter;
  text-align: center;
}
.content{
  padding: 20px;
  margin: 0 10% 0 10%;
}
.about-container-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 100px;
}
.about-image{
  max-width: 40%;
}
.about-text{
  font-size: 1.5rem;
  padding: 10px;
  color: var(--color-02);
  font-weight: lighter;
}
.skill-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.skills-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-grow: 5;
  max-width: 50%;
}
.skill-img{
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-05);
  max-width: 144px;
  max-height: 144px;
  transition: box-shadow 0.3s;
}
.skill-img:hover{
  box-shadow: 0 0 20px #D0C4DF;
}
.content-tooltips {
  position: relative;
}
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  transform: rotate(45deg);
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.content-tooltips:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.contact{
  padding: 20px;
  margin: 0 10% 0 10%;
}
.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}
.form-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: var(--color-07);
  box-shadow: 1px 1px 10px #e0e0e0;
  padding: 50px;
  border-radius: 10px;
}
.form-contact:hover{
  box-shadow: 0 0 20px var(--color-04);
}
.field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-bottom: 30px;
  width: 100%;
}
.label{
  color: var(--color-02);
  font-size: 18pt;
  margin-bottom: 5px;
  margin-left: 3px;
}
.input{
  padding: 10px;
  border: 1px solid var(--color-02);
  border-radius: 10px;
  background-color: var(--color-06);
  font-size: 15pt;
  color: var(--color-02);
}
.btn-submit{
  padding: 8px 40px;
  font-size: 15pt;
  background-color: var(--color-02);
  color: #fff;
  border-radius: 10px;
  margin-top: 5px;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 30px;
  font-size: 1rem;
}

.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@media all and (max-width:730px){
  .nav-navbar-container{
    margin: 0% 5% 0% 5%;
  }
  .nav-container-menu{
    display: none;
  }
  .nav-mobile-menu-icon{
    display: block;
  }
  .nav-mobile-menu-icon button{
    color:#fff;
    background-color: var(--color-01);
    font-size: 2rem;
    padding: 5px;
    border: none;
  }
  .open{
    display: block;
  }
  .nav-mobile-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    padding: 10px;
  }
  .home-image{
    display: none;
  }
  .about-image{
    display: none;
  }
}