@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root{
  --color-01:#000025;
  --color-02:#2d274c;
  --color-03:#ba68c8;
  --color-04:#ead1ee;
  --color-05:#DFD7EA;
  --color-06:#F2F7FF;
  --color-07:#FAFFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 1px;
}
body{
  background: var(--color-01);
}
.content{
  padding: 20px;
  margin: 0 10% 0 10%;
}
.content-style1{
  background-color: var(--color-07);
}
.content-style2{
  background-color: var(--color-06);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-02); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-02); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-03); 
}
::-webkit-scrollbar-track-piece{
  background: var(--color-01);
}
.highlighted-text{
  color: var(--color-03);
  font-weight: bold;
}
.section-container-title{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 50px 0px;
}
.section-title{
  display: block;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-02);
}
.section-title-division{
  padding: 5px 30px;
  background-color: var(--color-03);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.section-subtitle{
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: var(--color-02);
  font-weight: lighter;
  text-align: center;
}
.content-tooltips {
  position: relative;
}
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  transform: rotate(45deg);
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.content-tooltips:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@media all and (max-width:530px){
  .section-container-title{
    padding: 30px 0px 30px 0px;
  }
  .section-title{
    margin-bottom: 30px;
    display: block;
    font-size: 3rem;
  }
  .section-title-division{
    padding: 5px 30px;
    background-color: var(--color-03);
    border-radius: 10px;
    margin-bottom: 1.2rem;
  }
}
@media all and (max-width:300px){
  .content{
    margin: 0 5% 0 5%;
  }
}